<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="true" />
  </settings>

  <database>
    <provider name="sqlServer4.0" />
    <dataSource name="MtBatisSQL" connectionString="Data Source=WOONJONG-PC\SQLEXPRESS;Initial Catalog=TSMG;user id=tsmanager; password=tscase12#"/>
  </database>


<!--
  <database>
    <provider name="PostgreSql9.0"/>
      <dataSource name="app" connectionString="Server=localhost;Port=5432;Database=sgp;Username=sgp;Password=sgp2014;timeout=1000;"/>    
  </database>  
-->
  
  <sqlMaps>
    <sqlMap resource="./Query/TestTool.xml" />
    <sqlMap resource="./Query/TsManager.xml" />
    <sqlMap resource="./Query/CommonCode.xml" />
  </sqlMaps>
</sqlMapConfig>